<!-- @include includes/top.html -->
<header id="one" class="header-21">
	<div class="container">
		<div class="row">
			<div class="navbar col-sm-12 navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					<a class="brand one" href="#">
						<img src="./img/logo.svg" width="40" /> RAMP
					</a>
					<button type="button" class="navbar-toggle"></button>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav">
						<li class="active"><a class="one" href="#one">Home</a></li>
						<li><a class="two" href="#two">Why</a></li>
						<li><a class="three" href="#three">How</a></li>
						<li><a class="four" href="#four">Vision</a></li>
						<li><a class="five" href="#five">Mission</a></li>
						<li><a class="six" href="#six">Pricing</a></li>
						<li><a class="seven" href="#">Support</a></li>
					</ul>
					<form class="navbar-form pull-right">
						<a id="call_to_action" class="btn btn-default call-to-action try" href="https://setup.recmanplugins.no/">SIGN UP NOW</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</header>
<section class="section one content-6 v-center" style="height: 1083px;">
	<div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="img">
								<img src="./frameworks/startup/common-files/img/content/img-1@2x.png" alt="">
							</div>
						</div>
					</div>
					<h3>
                            Take a look to our amazing extension
                        </h3>
					<p class="lead">We have a great surprise for <a href="http://www.recman.no/">Recruitment Manager</a> users – the first ever user experience extension crafted especially for your Recruitment Manager workflow.</p>
					<div class="col-xs-12 col-sm-6">
						<a class="btn btn-default btn-block control" href="#">LEARN MORE</a>
					</div>
					<div class="hidden-xs col-sm-6">
						<a id="call_to_action" class="btn btn-large btn-clear btn-block call-to-action try" href="https://setup.recmanplugins.no/">SIGN UP NOW</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="control-btn fui-arrow-down" href="#"> </a>
</section>
<section id="two" class="section two content-6 v-center" style="height: 1083px;">
	<div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
					<div class="img">
						<img src="./frameworks/startup/flat-ui/dist/Icons/SVG/magicmouse.svg" alt="" style="width: 197px;">
					</div>
					<p class="lead">Copying all the relevant details for a candidate from LinkedIn to Recruitment Manager takes approximately 70 clicks.</p>
					<p class="lead">...or at least it used to, before RAMP.</p>
					<br>
					<br>
					<h3>
                        With our extension it only takes <b>ONE CLICK</b>!
                    </h3>
					<div class="col-xs-12 col-sm-6">
						<a class="btn btn-default btn-block control" href="#">LEARN MORE</a>
					</div>
					<div class="hidden-xs col-sm-6">
						<a id="call_to_action" class="btn btn-large btn-clear btn-block call-to-action try" href="https://setup.recmanplugins.no/">SIGN UP NOW</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="control-btn fui-arrow-down" href="#"> </a>
</section>
<section id="three" class="section three content-6 v-center" style="height: 1083px;">
	<div>
		<div class="container">
			<section class="content-25 v-center">
				<div>
					<div class="container">
						<div class="row hidden-md hidden-lg">
							<div class="col-xs-12 col-sm-10 col-sm-offset-1">
								<div class="img">
									<img class="hidden-md hidden-lg" src="./img/logo.svg" alt="" width="197">
								</div>
								<h3>RAMP is the way to skyrocket your Recruitment Manager workflow.</h3>
								<p>
									<b>One click</b> and you'll have all the relevant information about a candidate, including Skills, Education and Work experience.
								</p>
								<p>
									Installing the extension is easy as pie. You just need to get a Recruitment Manager API-key from your system administrator, follow the <a href="https://setup.recmanplugins.no/">instructions on our setup page</a> and you’ll soon be up and running
									quicker than you can say Jack Robinson.
								</p>
								<div class="row no-gutter">
									<div class="col-xs-12 col-sm-6">
										<a class="btn btn-default btn-block control" href="#">LEARN MORE</a>
									</div>
									<div class="hidden-xs col-sm-6">
										<a id="call_to_action" class="btn btn-large btn-clear btn-block call-to-action try" href="https://setup.recmanplugins.no/">SIGN UP NOW</a>
									</div>
								</div>
							</div>
						</div>
						<div class="row hidden-xs hidden-sm">
							<div class="col-sm-6">
								<h3>RAMP is the way to skyrocket your Recruitment Manager workflow.</h3>
								<p>
									<b>One click</b> and you'll have all the relevant information about a candidate, including Skills, Education and Work experience.
								</p>
								<p>
									Installing the extension is easy as pie. You just need to get a Recruitment Manager API-key from your system administrator, follow the <a href="https://setup.recmanplugins.no/">instructions on our setup page</a> and you’ll soon be up and running
									quicker than you can say Jack Robinson.
								</p>
								<div class="row no-gutter">
									<div class="col-xs-12 col-sm-6">
										<a class="btn btn-default btn-block control" href="#">LEARN MORE</a>
									</div>
									<div class="hidden-xs col-sm-6">
										<a id="call_to_action" class="btn btn-large btn-clear btn-block call-to-action try" href="https://setup.recmanplugins.no/">SIGN UP NOW</a>
									</div>
								</div>
							</div>
							<div class="col-sm-6" style="opacity: 0;">
								<img class="pull-right nosvg" src="./frameworks/startup/common-files/icons/rocket-big@2x.png" alt="" width="402" height="401">
								<span class="pull-right svg">
                                        <svg version="1.1" id="spaceship" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="402px" height="401px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                            <circle id="bg" fill="#dfe1e2" cx="50" cy="50" r="50"></circle>
                                            <g id="Stars" clip-path="url(#starmask)">
                                                <path id="star0" opacity="0.2" fill="#f6f8f8" enable-background="new    " d="M91,4.5c2.55-0.45,4.051-1.95,4.5-4.5c0.45,2.55,1.951,4.05,4.5,4.5c-2.549,0.451-4.05,1.95-4.5,4.5C95.051,6.45,93.55,4.951,91,4.5z"></path>
                                                <path id="star1" opacity="0.1" fill="#f6f8f8" enable-background="new    " d="M91,4.5c2.55-0.45,4.051-1.95,4.5-4.5c0.45,2.55,1.951,4.05,4.5,4.5c-2.549,0.451-4.05,1.95-4.5,4.5C95.051,6.45,93.55,4.951,91,4.5z"></path>
                                                <path id="star2" opacity="0.1" fill="#f6f8f8" enable-background="new    " d="M91,4.5c2.55-0.45,4.051-1.95,4.5-4.5c0.45,2.55,1.951,4.05,4.5,4.5c-2.549,0.451-4.05,1.95-4.5,4.5C95.051,6.45,93.55,4.951,91,4.5z"></path>
                                            </g>
                                            <clipPath id="starmask">
                                                <circle cx="50" cy="50" r="50"></circle>
                                            </clipPath>
                                            <clipPath id="rocketmask2">
                                                <path id="rocketmask1" d="M100,50c0,27.614-22.387,50-50,50C22.386,100,0,77.614,0,50S22.386,0,50,0c14.117,0,50,0,50,0S100,36.503,100,50z" transform="translate(100,-100)"></path>
                                            </clipPath>
                                            <g id="rocket-maskgroup">
                                                <g id="rocket-raw" clip-path="url(#rocketmask2)" transform="translate(-100,100)">
                                                    <path id="det7" fill="#E94B35" d="M100,0.1c-0.156,0.018-0.117,0.058-0.1-0.1C76.584,2.979,63.361,12.281,55.865,22.035c-0.268,0.349-0.528,0.698-0.782,1.047c-0.002,0.003-0.005,0.007-0.008,0.01C47.015,34.196,46.087,45.812,46,49h-1l-1,3l4,4l3-1v-1c1.152-0.021,3.741-0.111,7.066-0.773l0.002,0.002C58.797,53.047,59,53.305,59,57c0,4.062,0,6.609,0,9c0,1.809,0.943,2.497,1.945,1.494c2.423-2.428,3.003-3.023,8.5-8.528c4.16-4.167,4.676-6.595,2.957-11.059C83.953,41.369,96.432,27.888,100,0.1z"></path>
                                                    <path id="det6" fill="#C23824" d="M48,56l-4-4l1-3h2l4,4v2L48,56z M52,28c-1.718-0.69-2-1-4-1s-4.183,1.38-6.861,4.063c-4.254,4.259-4.85,4.839-8.516,8.508C31.425,40.771,33.263,41,36,41c5.233,0,9.297-0.125,10.791,1.42C48.764,44.46,52,28,52,28z"></path>
                                                    <path id="det5" fill="#C23824" d="M100,0C100.1,0,100,0,100,0c-0.639,4.973-1.566,9.579-2.721,13.678c-1.049-1.97-2.562-4.364-4.5-6.272c-2.151-2.12-4.812-3.632-6.826-4.585C91.979,1.091,96.783,0.412,100,0z"></path>
                                                    <path id="det4" opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M72.402,47.907c1.719,4.463,1.312,6.788-2.854,10.954c-0.844,0.844-7.828,7.859-8.604,8.633C59.941,68.496,59.033,67.809,59,66c-0.01-0.521,0.003,0.021,0-0.652c3-3,9.689-8.938,11-11.348c0.768-1.411,0.352-3.654,0-5c-3.312,1.76-11.516,4.094-11.932,4.229l0,0C54.906,53.875,52.467,53.943,51,54v-0.656c0,0,29.975-9.663,49-53.344c0.014,0-0.064,0.008,0,0C96.406,28.047,83.953,41.369,72.402,47.907z"></path>
                                                    <g id="det3">
                                                        <path fill="#FFFFFF" d="M77.5,28c-3.584,0-6.5-2.916-6.5-6.5s2.916-6.5,6.5-6.5s6.5,2.916,6.5,6.5S81.084,28,77.5,28z"></path>
                                                        <path fill="#C23824" d="M77.5,16c3.037,0,5.5,2.462,5.5,5.5S80.537,27,77.5,27S72,24.538,72,21.5S74.463,16,77.5,16 M77.5,14c-4.137,0-7.5,3.364-7.5,7.5s3.363,7.5,7.5,7.5s7.5-3.364,7.5-7.5S81.637,14,77.5,14L77.5,14z"></path>
                                                    </g>
                                                    <path id="det2" fill="#f4f5f6" d="M44,52l4,4L13,92l-6-6L44,52z"></path>
                                                    <path id="det1" fill="#d4d8d8" d="M43.875,52l2,2L7.5,91.5l-3-3L43.875,52z"></path>
                                                </g>
                                            </g>
                                        </svg>
                                   </span>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<a class="control-btn fui-arrow-down" href="#"> </a>
</section>
<section id="four" class="section four content-36 v-center">
	<div>
		<div class="container">
			<h2>automagically</h2>
			<h3>[aw-tuh-maj-ik-lee] </h3>
			<h4>adverb</h4>
			<div class="row no-gutter">
				<div class="col-sm-8">
					<ol type="1">
						<li>
							<p class="lead"><b>automatically;</b> in a way that is hidden from or not understood by you, the user, and in that sense, apparently “magical”:
								<br>
								<span>
                            <cite>I downloaded an extension that automagically adds candidates from LinkedIn to Recruitment Manager.</cite>
                        </span>
							</p>
						</li>
					</ol>
					<div class="row no-gutter">
						<div class="col-xs-12 col-sm-6">
							<a class="btn btn-large btn-clear inverse btn-block control" href="#">LEARN MORE</a>
						</div>
						<div class="hidden-xs col-sm-6">
							<a id="call_to_action" class="btn btn-large btn-clear btn-block call-to-action try" href="https://setup.recmanplugins.no/">SIGN UP NOW</a>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<section id="five" class="section five content-6 v-center">
	<div>
		<div class="container">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<div class="img">
					<img src="./frameworks/startup/common-files/icons/magic-wand@2x.png" alt="" style="width: 197px;">
				</div>
				<h3>Things should just work - automagically</h3>
				<p class="lead">
					The first and foremost requirement we have for our User Experience extensions is that they must meet the exact needs that you –the user– have, without fuss or bother.
					<br>
					<br>Next comes the simplicity and elegance that makes our extensions a joy to own and a joy to use.
				</p>
				<div class="col-xs-12 col-sm-6">
					<a class="btn btn-default btn-block control" href="#">LEARN MORE</a>
				</div>
				<div class="hidden-xs col-sm-6">
					<a id="call_to_action" class="btn btn-large btn-clear btn-block call-to-action try" href="https://setup.recmanplugins.no/">SIGN UP NOW</a>
				</div>
			</div>
		</div>
	</div>
	<a class="control-btn fui-arrow-down" href="#"> </a>
</section>
<div id="six" class="section six v-center">
	<div>
		<section class="content-26">
			<div class="container">
				<div class="row">
					<div class="hidden-md hidden-lg img">
						<img src="./frameworks/startup/flat-ui/dist/Icons/SVG/card.svg" alt="" width="197">
					</div>
					<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
						<h3>Flexible plans from NOK 399,-/month</h3>
						<p class="lead">Choose the plan that work for you. Our pricing is flexible so you get–and pay for–exactly what you need. No surprises. No secret decoder ring required.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="content-26 v-center">
			<div>
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<div class="hidden-xs hidden-sm col-sm-6 text-left">
								<img src="./frameworks/startup/flat-ui/dist/Icons/SVG/card.svg" alt="" width="402" height="402">
							</div>
							<div class="col-sm-12 col-md-6">
								<h3>Price Calculator</h3>
								<p class="lead">
									Set your desired number of users via the Spinner/Slider below and see your total monthly cost and monthly cost per user.
								</p>
								<div class="form-group">
									<input type="text" id="spinner-employees" class="form-control input-hg spinner" />
								</div>
								<div class="form-group">
									<div id="slider-employees"></div>
								</div>
								<h3 id="monthlyCost">from NOK <span>1 060</span>,-/month*</h3>
								<p class="lead" id="monthlyCostUser">
									<cite>(from NOK <span>106</span>,-/month/user*)</cite>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="content-26">
			<div class="container">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
						<!--<h3>You'll never pay more than NOK 3 999,-/month</h3> -->
						<p class="lead">
							<cite>
                                Our plans are built for teams of all sizes, and each RAMP Subscription include all the users on your Recruitment Manager account. Billing is handled automatically and adjusted accordingly for each billing period to match the number of users you have in your department.
                                <br>
                                <br><small>*12-Month-Prepaid Billing Plan required to get current price. All prices excluding VAT.</small>
                            </cite>
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="content-26">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<h3>Setup only takes a minute</h3>
						<p class="lead">
							No credit card required.
							<br>Cancel anytime.
						</p>
					</div>
					<div class="col-sm-6 col-sm-offset-3">
						<a id="call_to_action" class="btn btn-lg btn-danger btn-block call-to-action get-started" href="https://setup.recmanplugins.no/">SIGN UP NOW</a>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<footer class="footer-8">
	<div class="container">
		<p>© 2016 - <span id="copyrightYear"></span> Recman Apps, Modules and Plugins DA</p>
		<p><i class="fa fa-code" aria-hidden="true"></i> on <i class="fa fa-apple" aria-hidden="true"></i> with <i class="fa fa-heart" aria-hidden="true"></i> and a lot of <i class="fa fa-coffee" aria-hidden="true"></i> in Oslo, Norway</p>
		<p><i class="fa fa-cloud" aria-hidden="true"></i> on <a href="https://www.netlify.com/" target="_blank">Netlify</a> via <i class="fa fa-github" aria-hidden="true"></i></p>
		<div class="additional-links">
			You can get in touch with us at <a href="mailto:hello@recmanplugins.no">hello@recmanplugins.no</a> and be sure to take a look at our <a href="#" class="terms-of-service">Terms of Service</a>.
		</div>
	</div>
</footer>
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="RAMP Terms of Service">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">RAMP Terms of Service</h3>
            </div>

            <div class="modal-body">
				<h3>RAMP Terms of Service</h3>
				<p>Last modified: June 5, 2017
				</p>
				<h4>Welcome to RAMP!</h4>
				<p>Thanks for using our products and services (“Services”). The Services are provided by Recman Apps, Modules and Plugins DA (“RAMP”), located at Tordenskiolds gate 2, 0160 Oslo, Norway.
				</p>
				<p>By using our Services, you (the “Customer”) are agreeing to these terms (the “Agreement”). Please read them carefully.
				</p>
				<p>Our Services are very diverse, so sometimes additional terms or product requirements (including age requirements) may apply. Additional terms will be available with the relevant Services, and those additional terms become part of your agreement with
					us if you use those Services.
				</p>
				<h4 id="toc-services">Using our Services</h4>
				<p>You must follow any policies made available to you within the Services.
				</p>
				<p>Don’t misuse our Services. For example, don’t interfere with our Services or try to access them using a method other than the interface and the instructions that we provide. You may use our Services only as permitted by law, including applicable export
					and re-export control laws and regulations. We may suspend or stop providing our Services to you if you do not comply with our terms or policies or if we are investigating suspected misconduct.
				</p>
				<p>Using our Services does not give you ownership of any intellectual property rights in our Services or the content you access. You may not use content from our Services unless you obtain permission from its owner or are otherwise permitted by law.
					These terms do not grant you the right to use any branding or logos used in our Services. Don’t remove, obscure, or alter any legal notices displayed in or along with our Services.
				</p>
				<p>Our Services display some content that is not RAMP’s. This content is the sole responsibility of the entity that makes it available. We may review content to determine whether it is illegal or violates our policies, and we may remove or refuse to
					display content that we reasonably believe violates our policies or the law. But that does not necessarily mean that we review content, so please don’t assume that we do.
				</p>
				<p>In connection with your use of the Services, we may send you service announcements, administrative messages, and other information. You may opt out of some of those communications.
				</p>
				<p>Some of our Services are available on mobile devices. Do not use such Services in a way that distracts you and prevents you from obeying traffic or safety laws.
				</p>
				<h4 id="toc-account">Your RAMP Account</h4>
				<p>You may need a RAMP Account in order to use some of our Services. You may create your own RAMP Account, or your RAMP Account may be assigned to you by an administrator, such as your employer or educational institution. If you are using a RAMP Account
					assigned to you by an administrator, different or additional terms may apply and your administrator may be able to access or disable your account.
				</p>
				<p>To protect your RAMP Account, keep your password confidential. You are responsible for the activity that happens on or through your RAMP Account. Try not to reuse your RAMP Account password on third-party applications. If you learn of any unauthorized
					use of your password or RAMP Account, <a href="#" class="customer-support unauthorized-access">please contact us</a>.
				</p>
				<h4 id="toc-protection">Privacy and Copyright Protection</h4>
				<p>RAMP’s privacy policies explain how we treat your personal data and protect your privacy when you use our Services. By using our Services, you agree that RAMP can use such data in accordance with our privacy policies.
				</p>
				<p>We respond to notices of alleged copyright infringement and terminate accounts of repeat infringers according to the process set out in the Norwegian Copyright Act.
				</p>
				<p>We provide information to help copyright holders manage its intellectual property online. If you think somebody is violating your copyrights and want to notify us, you can <a href="#" class="customer-support copyright-violation">submit a notice</a>.
				</p>
				<h4 id="toc-content">Your Content in our Services</h4>
				<p>Some of our Services allow you to upload, submit, store, send or receive content. You retain ownership of any intellectual property rights that you hold in that content. In short, what belongs to you stays yours.
				</p>
				<p>When you upload, submit, store, send or receive content to or through our Services, you give RAMP (and those we work with) a worldwide license to use, host, store, reproduce, modify, create derivative works, communicate, publish, publicly perform,
					publicly display and distribute such content. The rights you grant in this license are for the limited purpose of operating, promoting, and improving our Services, and to develop new ones. This license continues even if you stop using our Services.
					Some Services may offer you ways to access and remove content that has been provided to that Service. Also, in some of our Services, there are terms or settings that narrow the scope of our use of the content submitted in those Services. Make sure
					you have the necessary rights to grant us this license for any content that you submit to our Services.
				</p>
				<p>You can find more information about how RAMP uses and stores content in the privacy policy or additional terms for particular Services. If you submit feedback or suggestions about our Services, we may use your feedback or suggestions without obligation
					to you.
				</p>
				<h4 id="toc-software">About Software in our Services</h4>
				<p>When a Service requires or includes downloadable software, this software may update automatically on your device once a new version or feature is available. Some Services may let you adjust your automatic update settings.
				</p>
				<p>RAMP gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you by RAMP as part of the Services. This license is for the sole purpose of enabling you to use and enjoy the benefit of
					the Services as provided by RAMP, in the manner permitted by these terms. You may not copy, modify, distribute, sell, or lease any part of our Services or included software, nor may you reverse engineer or attempt to extract the source code of that
					software, unless laws prohibit those restrictions or you have our written permission.
				</p>
				<p>Open source software is important to us. Some software used in our Services may be offered under an open source license that we will make available to you. There may be provisions in the open source license that expressly override some of these terms.
				</p>
				<h4>Tier Rates</h4>
				<h6>Pay-As-You-Go</h6>
				<p>
					<strong>Solo</strong> <small><cite>(1 user)</cite></small>:
				</p>
				<p>
					NOK 499,-/month – Add'l users NOK 124,-/month/user.
				</p>
				<p>
					<strong>Team</strong> <small><cite>(Starts with 5 users)</cite></small>:
				</p>
				<p>
					NOK 982,-/month – Add'l users NOK 111,-/month/user.
				</p>
				<p>
					<strong>Organization</strong> <small><cite>(Starts with 25 users)</cite></small>:
				</p>
				<p>
					NOK 3 190,-/month – Add'l users NOK 99,-/month/user.
				</p>
				<p>
					<strong>Enterprise 50</strong> <small><cite>(Starts with 50 users)</cite></small>:
				</p>
				<p>
					NOK 5 652,-/month – Add'l users NOK 86,-/month/user.
				</p>
				<p>
					<strong>Enterprise 100</strong> <small><cite>(Starts with 100 users)</cite></small>:
				</p>
				<p>
					NOK 9 940,-/month – Add'l users NOK 74,-/month/user.
				</p>
				<p>
					<strong>Dedicated:</strong>
				</p>
				<p>
					Have more than 150 users and want to discuss custom pricing options? No problem! <a href="#" class="customer-support sales-team">Get in touch with our Sales Team</a>.
				</p>
				<p>
					<small><cite>All prices are subject to change without notice at any time and are based in part on the applicability of Agreement set forth herein. Should the Customer desire other or different terms, the prices may be adjusted accordingly. Prices are those in effect
					at the time of accpting the Agreement. Prices for any Services are outlined in Agreement and/or on <a href="https://www.getramp.io/" target="_blank">our website</a>. All prices excluding VAT.</cite></small>
				</p>
				<h4>Subscriptions</h4>
				<h6>Billing</h6>
				<p>
					RAMP offer Customer to select one of the following billing plans:
				</p>
				<p>
					<strong>Pay-As-You-Go</strong> <small><cite>(no upfront costs, no commitment)</cite></small>:</p>
				<p>
					If Customer selects this option (the “Pay-As-You-Go Billing Plan”), Customer will not be committed to purchase the Services for a pre-defined term, but will pay for the Services on a monthly basis. RAMP will bill Customer monthly in arrears for its use
					of the Services. RAMP will provide Customer with the monthly Pay-As-You-Go Rate for the Services for each user when Customer orders the Services, and will use this rate to calculate the price of your subscription, on a prorated basis, for Customer’s
					number of users in its selected Recruitment Manager department during that month (the “Subscription Fee). Customer may pay for the Services using the payment options listed below.
				</p>
				<p>
					<strong>Annual</strong> <small><cite>(no upfront costs, annual commitment)</cite></small>:</p>
				<p>
					If Customer selects this option (the “Annual Billing Plan”), Customer will be committed to purchasing the Services from RAMP for an annual term, and in exchange will receive a 10% (ten percent) discount on the Services. The discount will be reflected
					on Customer’s montly payment. When Customer has selected the Annual Billing Plan, RAMP will bill Customer monthly in arrears of 12 (twelve) for its use of the Services. Customer may pay for the Services using the payment options listed below.
				</p>
				<p>
					<strong>12-Month-Prepaid</strong> <small><cite>(prepaid, annual commitment, default billing plan)</cite></small>:</p>
				<p>
					If Customer selects this option (the “12-Month-Prepaid Billing Plan” and/or “Default Subscription”), Customer will be committed to purchasing the Services from RAMP for an annual term, and in exchange will receive a 20% (twenty percent) discount on the
					Services . The discount will be reflected on Customer’s annual payment. When Customer has selected the Default Subscription, RAMP will bill Customer annually in advance for its use of the Services. Customer may pay for the Services using the payment
					options listed below.
				</p>
				<h6>Discounts</h6>
				<p>
					The discount rate is applied against the Pay-As-You-Go rates for Customer’s Subscription Fee. Any usage exceeding the prepayment purchase will be billed at the standard Pay-As-You-Go rates.
				</p>
				<h6>Cancelation Policy</h6>
				<p>
					Refunds (including for unused purchase paid in advance) will not be provided, except where required by law.
				</p>

				<p>
					If you cancel your subscription within the first 30 days, you will be responsible for paying for any usage incurred during the month of cancelation.
				</p>

				<p>
					If you cancel your subscription at any other time, you will be responsible for paying for your purchase for the remaining term and any overage incurred during the month of cancelation.
				</p>
				<h6>Renewal Policy</h6>
				<p>
					By default, your subscription is set to auto-renew at the end of the term. The next term will have the same prepaid purchase amount. Any unused prepaid balance at the end of the current term will not be rolled over to the next term and will be forfeited
					at the end of the current term. The discount for the new subscription term will be whatever is in effect for the offer used when Customer ordered the Services at time of renewal. You can opt out of auto-renewal at any time. In that case, your subscription
					will expire at the end of the term.
				</p>
				<p>
					If you do not renew your prepaid offer, your subscription will be converted to a standard Pay-As-You-Go subscription at the end of the term.
				</p>
				<h6>Payment</h6>
				<p>
					All payments due are in NOK (Norwegian kroner) unless otherwise indicated on the order page and/or invoice.
				</p>
				<p>
					<strong>Invoices:</strong>
				</p>
				<p>
					Payments for invoices are due 7 (seven) days after the invoice date, unless otherwise specified on the invoice, and are considered delinquent after such date.
				</p>
				<p>
					<strong>Delinquent Payments:</strong>
				</p>
				<p>
					Delinquent payments may bear interest at the rate of eight-and-one-half percent per month (or the highest rate permitted by law, if less) from the payment due date until paid in full. Customer will be responsible for all reasonable expenses (including
					attorneys' fees) incurred by RAMP in collecting such delinquent amounts, except where such delinquent amounts are due to RAMP's billing inaccuracies.
				</p>
				<h6>Suspension for Non-Payment</h6>
				<p>
					<strong>Automatic Suspension:</strong>
				</p>
				<p>
					Customer will have 14 (fourteen) days to pay its delinquent Subscription Fee. If Customer does not pay its delinquent Subscription Fee within 14 (fourteen) days, RAMP will automatically suspend Customer’s use of the Services. The duration of this suspension
					will be until Customer pays RAMP all outstanding Subscription Fee.
				</p>
				<p>
					<strong>During Suspension:</strong>
				</p>
				<p>
					If Customer is on the Pay-As-You-Go Billing Plan, and Customer is suspended for non-payment, RAMP will stop charging Customer's monthly Subscription Fee during Customer’s suspension for non-payment.
				</p>
				<p>
					If Customer is on the Annual Billing Plan, and Customer is suspended for non-payment, RAMP will continue to charge Customer monthly Subscription Fee during Customer’s suspension for non-payment and Customer must pay all outstanding Subscription Fee's
					in order to resume its use of the Services.
				</p>

				<p>
					<strong>Termination after Suspension:</strong>
				</p>
				<p>
					If Customer remains suspended for non-payment for more than sixty days, and Customer is either on Annual Billing Plan or 12-Month-Prepaid Billing Plan, RAMP may terminate Customer for breach pursuant to section <em><a href="#toc-modification">Modification and Termination of Services</a></em>.
				</p>
				<h6>Taxes</h6>
				<p>
					Customer is responsible for any Taxes, and Customer will pay RAMP for the Services without any reduction for Taxes. If RAMP is obligated to collect or pay Taxes, the Taxes will be invoiced to Customer, unless Customer provides RAMP with a valid tax exemption
					certificate authorized by the appropriate taxing authority. If Customer is required by law to withhold any Taxes from its payments to RAMP, Customer must provide RAMP with an official tax receipt or other appropriate documentation to support such
					payments.
				</p>
				<h6>Purchase Orders</h6>
				<p>
					If Customer requires a purchase order number on its invoice, Customer will inform RAMP and RAMP will include such purchase order number on invoices following receipt. If Customer does not provide a purchase order number, Customer waives any purchase order
					requirement and (a) RAMP will invoice Customer without a purchase order number; and (b) Customer agrees to pay invoices without a purchase order number referenced. Any terms and conditions on a purchase order do not apply to this Agreement and are
					null and void.
				</p>
				<h4 id="toc-modification">Modification and Termination of Services</h4>
				<p>We are constantly changing and improving our Services. We may add or remove functionalities or features, and we may suspend or stop a Service altogether.
				</p>
				<p>You can stop using our Services at any time, although we’ll be sorry to see you go. RAMP may also stop providing Services to you, or add or create new limits to our Services at any time.
				</p>
				<p>We believe that you own your data and preserving your access to such data is important. If we discontinue a Service, where reasonably possible, we will give you reasonable advance notice and a chance to get information out of that Service.
				</p>
				<h6>Termination for Breach</h6>
				<p>
					Either party may suspend performance or terminate this Agreement if: (i) the other party is in material breach of the Agreement and fails to cure that breach within thirty days after receipt of written notice; (ii) the other party ceases its business
					operations or becomes subject to insolvency proceedings and the proceedings are not dismissed within ninety days; or (iii) the other party is in material breach of this Agreement more than two times notwithstanding any cure of such breaches.
				</p>
				<h6>Effects of Termination</h6>
				<p>
					If this Agreement terminates, then: (i) the rights granted by one party to the other will cease immediately (except as set forth in this Section); (ii) RAMP will provide Customer access to, and the ability to export, the Customer Data for a commercially
					reasonable period of time at RAMP’s then-current rates for the applicable Services; (iii) after a commercially reasonable period of time, RAMP will delete Customer Data by removing pointers to it on RAMP’s active servers and overwriting it over time;
					and (iv) upon request each party will promptly use commercially reasonable efforts to return or destroy all other Confidential Information of the other party. If a Customer on an annual plan terminates the Agreement prior to the conclusion of its
					annual plan, RAMP will bill Customer, and Customer is responsible for paying RAMP, for the remaining unpaid amount of Customer’s annual commitment.
				</p>
				<h4 id="toc-warranties-disclaimers">Our Warranties and Disclaimers</h4>
				<p>We provide our Services using a commercially reasonable level of skill and care and we hope that you will enjoy using them. But there are certain things that we don’t promise about our Services.
				</p>
				<p>OTHER THAN AS EXPRESSLY SET OUT IN THESE TERMS OR ADDITIONAL TERMS, NEITHER RAMP NOR its SUPPLIERS OR DISTRIBUTORS MAKE ANY SPECIFIC PROMISES ABOUT THE SERVICES. FOR EXAMPLE, WE DON’T MAKE ANY COMMITMENTS ABOUT THE CONTENT WITHIN THE SERVICES, THE
					SPECIFIC FUNCTIONS OF THE SERVICES, OR its RELIABILITY, AVAILABILITY, OR ABILITY TO MEET YOUR NEEDS. WE PROVIDE THE SERVICES “AS IS”.
				</p>
				<p>SOME JURISDICTIONS PROVIDE FOR CERTAIN WARRANTIES, LIKE THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. TO THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES.
				</p>
				<h4 id="toc-liability">Liability for our Services</h4>
				<p>WHEN PERMITTED BY LAW, RAMP, AND RAMP’S SUPPLIERS AND DISTRIBUTORS, WILL NOT BE RESPONSIBLE FOR LOST PROFits, REVENUES, OR DATA, FINANCIAL LOSSES OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES.
				</p>
				<p>TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF RAMP, AND its SUPPLIERS AND DISTRIBUTORS, FOR ANY CLAIMS UNDER THESE TERMS, INCLUDING FOR ANY IMPLIED WARRANTIES, IS LIMITED TO THE AMOUNT YOU PAID US TO USE THE SERVICES (OR, IF WE CHOOSE, TO
					SUPPLYING YOU THE SERVICES AGAIN).
				</p>
				<p>IN ALL CASES, RAMP, AND its SUPPLIERS AND DISTRIBUTORS, WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.
				</p>
				<h4 id="toc-business-uses">Business uses of our Services</h4>
				<p>If you are using our Services on behalf of a business, that business accepts these terms. It will hold harmless and indemnify RAMP and its affiliates, officers, agents, and employees from any claim, suit or action arising from or related to the use
					of the Services or violation of these terms, including any liability or expense arising from claims, losses, damages, suits, judgments, litigation costs and attorneys’ fees.
				</p>
				<h4 id="toc-about">About these Terms</h4>
				<p>We may modify these terms or any additional terms that apply to a Service to, for example, reflect changes to the law or changes to our Services. You should look at the terms regularly. We’ll post notice of modifications to these terms on this page.
					We’ll post notice of modified additional terms in the applicable Service. Changes will not apply retroactively and will become effective no sooner than fourteen days after they are posted. However, changes addressing new functions for a Service or
					changes made for legal reasons will be effective immediately. If you do not agree to the modified terms for a Service, you should discontinue your use of that Service.
				</p>
				<p>If there is a conflict between these terms and the additional terms, the additional terms will control for that conflict.
				</p>
				<p>These terms control the relationship between RAMP and you. They do not create any third party beneficiary rights.
				</p>
				<p>If you do not comply with these terms, and we don’t take action right away, this doesn’t mean that we are giving up any rights that we may have (such as taking action in the future).
				</p>
				<p>If it turns out that a particular term is not enforceable, this will not affect any other terms.
				</p>
				<p>The Norwegian law will apply to any disputes arising out of or relating to these terms or the Services. All claims arising out of or relating to these terms or the Services will be litigated exclusively in the Oslo District Court, Oslo, Norway, and
					you and RAMP consent to personal jurisdiction in those courts.
				</p>
				<p>If you wish to contact RAMP, <a href="#" class="customer-support">please feel free to do so here</a>.</p>
			</div>
		</div>
	</div>
</div>
<!-- @include includes/bottom.html -->
