<!-- @include includes/top.html -->
<header id="one" class="header-21">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12 navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="brand home" href="#">
                        <img src="./img/logo.svg" width="40" /> RAMP
                    </a>
                    <button type="button" class="navbar-toggle"></button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav">
                        <li><a class="home" href="/">Home</a></li>
                        <li class="active"><a class="seven" href="/support.html">Support</a></li>
                    </ul>
                    <form class="navbar-form pull-right">
                        <a class="btn btn-default call-to-action try" href="https://setup.recmanplugins.no/">SIGN UP NOW</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="six" class="section six v-center">
    <div>
        <section class="content-26">
            <div class="container">
                <div class="row">
                    <div class="hidden-md hidden-lg img">
                        <img src="./frameworks/startup/flat-ui/dist/Icons/SVG/card.svg" alt="" width="197">
                    </div>
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <h3>Remote support securely over the Internet</h3>
                        <p class="lead">Chrome Remote Desktop allows us to remotely access your computer through the Chrome browser. Your computers will be made available to us on an short-term basis for scenarios such as extension set-up.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="content-26">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h3>Get support now!</h3>
                        <p class="lead">
                        All connections are fully secured.
                        <br>
                        <small><cite><a href="https://support.google.com/chrome/answer/1649523" target="_blank">Visit the Chrome Help page for installation instructions</a></cite></small>
                        </p>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <a class="btn btn-lg btn-danger btn-block support-download" href="https://chrome.google.com/webstore/detail/gbchcmhmhahfdphkhkmpfmihenigjmpp" target="_blank">Install Chrome Remote Desktop</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="content-26">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                        <h3>Fully cross-platform</h3>
                        <p class="lead">
                            <cite>
                                Chrome Remote Desktop is fully cross-platform. It provides remote assistance to Windows, Mac and Linux users. For information about privacy, please see the <a href="https://www.google.com/policies/privacy/" target="_blank">Google Privacy Policy</a> and the <a href="https://www.google.com/chrome/browser/privacy/" target="_blank">Chrome Privacy Policy</a>. For help or troubleshooting, please visit the <a href="http://www.google.com/support/forum/p/Chrome/thread?tid=52730a7194bef976&hl=en" target="_blank">Google Support Forums</a>.
                            </cite>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<footer class="footer-8">
    <div class="container">
        <p>© 2016 <a href="https://www.recmanplugins.no/">Recman Apps, Modules and Plugins</a>. All rights reserved.</p>
        <p> Handcrafted with <i class="fa fa-heart" aria-hidden="true"></i> and a lot of <i class="fa fa-coffee" aria-hidden="true"></i> in Oslo, Norway</p>
        <div class="additional-links">
            You can get in touch with us at <a href="mailto:hello@recmanplugins.no">hello@recmanplugins.no</a> and be sure to take a look at our <a href="#" class="terms-of-service">Terms of Service</a>.
        </div>
    </div>
</footer>
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="RAMP Terms of Service">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">RAMP Terms of Service</h3>
            </div>

            <div class="modal-body">
                <p>Last modified: June 21, 2016
                </p>
                <h4>Welcome to RAMP!</h4>
                <p>Thanks for using our products and services (“Services”). The Services are provided by Recman Apps, Modules and Plugins DA (“RAMP”), located at Tordenskiolds gate 3, 0160 Oslo, Norway.
                </p>
                <p>By using our Services, you are agreeing to these terms (the “Agreement”). Please read them carefully.
                </p>
                <p>Our Services are very diverse, so sometimes additional terms or product requirements (including age requirements) may apply. Additional terms will be available with the relevant Services, and those additional terms become part of your agreement with us if you use those Services.
                </p>
                <h4 id="toc-services">Using our Services</h4>
                <p>You must follow any policies made available to you within the Services.
                </p>
                <p>Don’t misuse our Services. For example, don’t interfere with our Services or try to access them using a method other than the interface and the instructions that we provide. You may use our Services only as permitted by law, including applicable export and re-export control laws and regulations. We may suspend or stop providing our Services to you if you do not comply with our terms or policies or if we are investigating suspected misconduct.
                </p>
                <p>Using our Services does not give you ownership of any intellectual property rights in our Services or the content you access. You may not use content from our Services unless you obtain permission from its owner or are otherwise permitted by law. These terms do not grant you the right to use any branding or logos used in our Services. Don’t remove, obscure, or alter any legal notices displayed in or along with our Services.
                </p>
                <p>Our Services display some content that is not RAMP’s. This content is the sole responsibility of the entity that makes it available. We may review content to determine whether it is illegal or violates our policies, and we may remove or refuse to display content that we reasonably believe violates our policies or the law. But that does not necessarily mean that we review content, so please don’t assume that we do.
                </p>
                <p>In connection with your use of the Services, we may send you service announcements, administrative messages, and other information. You may opt out of some of those communications.
                </p>
                <p>Some of our Services are available on mobile devices. Do not use such Services in a way that distracts you and prevents you from obeying traffic or safety laws.
                </p>
                <h4 id="toc-account">Your RAMP Account</h4>
                <p>You may need a RAMP Account in order to use some of our Services. You may create your own RAMP Account, or your RAMP Account may be assigned to you by an administrator, such as your employer or educational institution. If you are using a RAMP Account assigned to you by an administrator, different or additional terms may apply and your administrator may be able to access or disable your account.
                </p>
                <p>To protect your RAMP Account, keep your password confidential. You are responsible for the activity that happens on or through your RAMP Account. Try not to reuse your RAMP Account password on third-party applications. If you learn of any unauthorized use of your password or RAMP Account, <a href="#" class="customer-support unauthorized-access">please contact us</a>.
                </p>
                <h4 id="toc-protection">Privacy and Copyright Protection</h4>
                <p>RAMP’s privacy policies explain how we treat your personal data and protect your privacy when you use our Services. By using our Services, you agree that RAMP can use such data in accordance with our privacy policies.
                </p>
                <p>We respond to notices of alleged copyright infringement and terminate accounts of repeat infringers according to the process set out in the Norwegian Copyright Act.
                </p>
                <p>We provide information to help copyright holders manage their intellectual property online. If you think somebody is violating your copyrights and want to notify us, you can <a href="#" class="customer-support copyright-violation">submit a notice</a>.
                </p>
                <h4 id="toc-content">Your Content in our Services</h4>
                <p>Some of our Services allow you to upload, submit, store, send or receive content. You retain ownership of any intellectual property rights that you hold in that content. In short, what belongs to you stays yours.
                </p>
                <p>When you upload, submit, store, send or receive content to or through our Services, you give RAMP (and those we work with) a worldwide license to use, host, store, reproduce, modify, create derivative works, communicate, publish, publicly perform, publicly display and distribute such content. The rights you grant in this license are for the limited purpose of operating, promoting, and improving our Services, and to develop new ones. This license continues even if you stop using our Services. Some Services may offer you ways to access and remove content that has been provided to that Service. Also, in some of our Services, there are terms or settings that narrow the scope of our use of the content submitted in those Services. Make sure you have the necessary rights to grant us this license for any content that you submit to our Services.
                </p>
                <p>You can find more information about how RAMP uses and stores content in the privacy policy or additional terms for particular Services. If you submit feedback or suggestions about our Services, we may use your feedback or suggestions without obligation to you.
                </p>
                <h4 id="toc-software">About Software in our Services</h4>
                <p>When a Service requires or includes downloadable software, this software may update automatically on your device once a new version or feature is available. Some Services may let you adjust your automatic update settings.
                </p>
                <p>RAMP gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you by RAMP as part of the Services. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by RAMP, in the manner permitted by these terms. You may not copy, modify, distribute, sell, or lease any part of our Services or included software, nor may you reverse engineer or attempt to extract the source code of that software, unless laws prohibit those restrictions or you have our written permission.
                </p>
                <p>Open source software is important to us. Some software used in our Services may be offered under an open source license that we will make available to you. There may be provisions in the open source license that expressly override some of these terms.
                </p>
                <h4>Billing and Payment</h4>
                <h6>Billing</h6>
                <p>
                    Customer may elect one of the following billing options when placing its order for the Services.
                </p>
                <p>
                    <strong>Flexible Plan:</strong> If Customer selects this option, Customer will not be committed to purchase the Services for a pre-defined term, but will pay for the Services on a monthly basis. RAMP will bill Customer monthly in arrears for its use of the Services. RAMP will provide Customer with the monthly rate for the Services when Customer orders the Services, and will use this rate to calculate the Fees, on a prorated basis, for Customer’s number of users in their selected Recruitment Manager department during that month. Customer may pay for the Services using the payment options listed below.
                </p>
                <p>
                    <strong>Annual Plan:</strong> If Customer selects this option, Customer will be committed to purchasing the Services from RAMP for an annual term, and in exchange will receive a discount on the Services which will be reflected in Customer’s monthly payment. RAMP will still bill Customer monthly in arrears for its use of the Services when Customer has an annual commitment for the Services with RAMP. Customer may pay for the Services using the payment options listed below.
                </p>
                <h6>Payment</h6>
                <p>
                    All payments due are in NOK (Norwegian kroner) unless otherwise indicated on the Order Page or invoice.
                </p>
                <p>
                    <strong>Invoices:</strong> Payments for invoices are due seven days after the invoice date, unless otherwise specified on the Order Page, and are considered delinquent after such date.
                </p>
                <p>
                    <strong>Delinquent Payments: </strong>Delinquent payments may bear interest at the rate of eight-and-one-half percent per month (or the highest rate permitted by law, if less) from the payment due date until paid in full. Customer will be responsible for all reasonable expenses (including attorneys' fees) incurred by RAMP in collecting such delinquent amounts, except where such delinquent amounts are due to RAMP's billing inaccuracies.
                </p>
                <h6>Suspension for Non-Payment</h6>
                <p>
                    <strong>Automatic Suspension: </strong>Customer will have fourteen days to pay RAMP delinquent Fees. If Customer does not pay RAMP delinquent Fees within fourteen days, RAMP will automatically suspend Customer’s use of the Services. The duration of this suspension will be until Customer pays RAMP all outstanding Fees.
                </p>
                <p>
                    <strong>During Suspension: </strong>If Customer is on a monthly billing plan, and Customer is suspended for non-payment, RAMP will stop charging Customer monthly Fees during Customer’s suspension for non-payment. If Customer has an annual commitment to RAMP for the Services, RAMP will continue to charge Customer monthly Fees during Customer’s suspension for non-payment and Customer must pay all outstanding Fees in order to resume its use of the Services.
                </p>
                <p>
                    <strong>Termination After Suspension: </strong>If Customer remains suspended for non-payment for more than sixty days, RAMP may terminate Customer for breach pursuant to section <em>"Modification and Termination of Services"</em>.
                </p>
                <h6>Taxes</h6>
                <p>
                    Customer is responsible for any Taxes, and Customer will pay RAMP for the Services without any reduction for Taxes. If RAMP is obligated to collect or pay Taxes, the Taxes will be invoiced to Customer, unless Customer provides RAMP with a valid tax exemption certificate authorized by the appropriate taxing authority. If Customer is required by law to withhold any Taxes from its payments to RAMP, Customer must provide RAMP with an official tax receipt or other appropriate documentation to support such payments.
                </p>
                <h6>Purchase Orders</h6>
                <p>
                    If Customer requires a purchase order number on its invoice, Customer will inform RAMP and RAMP will include such purchase order number on invoices following receipt.  If Customer does not provide a purchase order number, Customer waives any purchase order requirement and (a) RAMP will invoice Customer without a purchase order number; and (b) Customer agrees to pay invoices without a purchase order number referenced. Any terms and conditions on a purchase order do not apply to this Agreement and are null and void.
                </p>
                <h4 id="toc-modification">Modification and Termination of Services</h4>
                <p>We are constantly changing and improving our Services. We may add or remove functionalities or features, and we may suspend or stop a Service altogether.
                </p>
                <p>You can stop using our Services at any time, although we’ll be sorry to see you go. RAMP may also stop providing Services to you, or add or create new limits to our Services at any time.
                </p>
                <p>We believe that you own your data and preserving your access to such data is important. If we discontinue a Service, where reasonably possible, we will give you reasonable advance notice and a chance to get information out of that Service.
                </p>
                <h6>Termination for Breach</h6>
                <p>
                    Either party may suspend performance or terminate this Agreement if: (i) the other party is in material breach of the Agreement and fails to cure that breach within thirty days after receipt of written notice; (ii) the other party ceases its business operations or becomes subject to insolvency proceedings and the proceedings are not dismissed within ninety days; or (iii) the other party is in material breach of this Agreement more than two times notwithstanding any cure of such breaches.
                </p>
                <h6>Effects of Termination</h6>
                <p>
                    If this Agreement terminates, then: (i) the rights granted by one party to the other will cease immediately (except as set forth in this Section); (ii) RAMP will provide Customer access to, and the ability to export, the Customer Data for a commercially reasonable period of time at RAMP’s then-current rates for the applicable Services; (iii) after a commercially reasonable period of time, RAMP will delete Customer Data by removing pointers to it on RAMP’s active servers and overwriting it over time; and (iv) upon request each party will promptly use commercially reasonable efforts to return or destroy all other Confidential Information of the other party.  If a Customer on an annual plan terminates the Agreement prior to the conclusion of its annual plan, RAMP will bill Customer, and Customer is responsible for paying RAMP, for the remaining unpaid amount of Customer’s annual commitment.
                </p>
                <h4 id="toc-warranties-disclaimers">Our Warranties and Disclaimers</h4>
                <p>We provide our Services using a commercially reasonable level of skill and care and we hope that you will enjoy using them. But there are certain things that we don’t promise about our Services.
                </p>
                <p>OTHER THAN AS EXPRESSLY SET OUT IN THESE TERMS OR ADDITIONAL TERMS, NEITHER RAMP NOR ITS SUPPLIERS OR DISTRIBUTORS MAKE ANY SPECIFIC PROMISES ABOUT THE SERVICES. FOR EXAMPLE, WE DON’T MAKE ANY COMMITMENTS ABOUT THE CONTENT WITHIN THE SERVICES, THE SPECIFIC FUNCTIONS OF THE SERVICES, OR THEIR RELIABILITY, AVAILABILITY, OR ABILITY TO MEET YOUR NEEDS. WE PROVIDE THE SERVICES “AS IS”.
                </p>
                <p>SOME JURISDICTIONS PROVIDE FOR CERTAIN WARRANTIES, LIKE THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. TO THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES.
                </p>
                <h4 id="toc-liability">Liability for our Services</h4>
                <p>WHEN PERMITTED BY LAW, RAMP, AND RAMP’S SUPPLIERS AND DISTRIBUTORS, WILL NOT BE RESPONSIBLE FOR LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES.
                </p>
                <p>TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF RAMP, AND ITS SUPPLIERS AND DISTRIBUTORS, FOR ANY CLAIMS UNDER THESE TERMS, INCLUDING FOR ANY IMPLIED WARRANTIES, IS LIMITED TO THE AMOUNT YOU PAID US TO USE THE SERVICES (OR, IF WE CHOOSE, TO SUPPLYING YOU THE SERVICES AGAIN).
                </p>
                <p>IN ALL CASES, RAMP, AND ITS SUPPLIERS AND DISTRIBUTORS, WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.
                </p>
                <h4 id="toc-business-uses">Business uses of our Services</h4>
                <p>If you are using our Services on behalf of a business, that business accepts these terms. It will hold harmless and indemnify RAMP and its affiliates, officers, agents, and employees from any claim, suit or action arising from or related to the use of the Services or violation of these terms, including any liability or expense arising from claims, losses, damages, suits, judgments, litigation costs and attorneys’ fees.
                </p>
                <h4 id="toc-about">About these Terms</h4>
                <p>We may modify these terms or any additional terms that apply to a Service to, for example, reflect changes to the law or changes to our Services. You should look at the terms regularly. We’ll post notice of modifications to these terms on this page. We’ll post notice of modified additional terms in the applicable Service. Changes will not apply retroactively and will become effective no sooner than fourteen days after they are posted. However, changes addressing new functions for a Service or changes made for legal reasons will be effective immediately. If you do not agree to the modified terms for a Service, you should discontinue your use of that Service.
                </p>
                <p>If there is a conflict between these terms and the additional terms, the additional terms will control for that conflict.
                </p>
                <p>These terms control the relationship between RAMP and you. They do not create any third party beneficiary rights.
                </p>
                <p>If you do not comply with these terms, and we don’t take action right away, this doesn’t mean that we are giving up any rights that we may have (such as taking action in the future).
                </p>
                <p>If it turns out that a particular term is not enforceable, this will not affect any other terms.
                </p>
                <p>The Norwegian law will apply to any disputes arising out of or relating to these terms or the Services. All claims arising out of or relating to these terms or the Services will be litigated exclusively in the Oslo District Court, Oslo, Norway, and you and RAMP consent to personal jurisdiction in those courts.
                </p>
                <p>If you wish to contact RAMP, <a href="#" class="customer-support">please feel free to do so here</a>.</p>
            </div>
        </div>
    </div>
</div>
<!-- @include includes/bottom.html -->
